<nav class="cat__menu-left">
    <div class="cat__menu-left__lock cat__menu-left__action--menu-toggle">
        <div class="cat__menu-left__pin-button">
            <div><!-- --></div>
        </div>
    </div>
    <div class="cat__menu-left__logo">
        <a href="tournaments.html">
            <img src="../../modules/dummy-assets/common/img/logo-inverse.png" />
        </a>
    </div>
    <div class="cat__menu-left__inner">
        <ul class="cat__menu-left__list cat__menu-left__list--root">

            <li class="cat__menu-left__divider"><!-- --></li>
            <li class="cat__menu-left__item">
                <a href="tournaments.html">
                    <span class="cat__menu-left__icon fa fa-trophy"></span>Tournaments
                </a>
            </li>
            <li class="cat__menu-left__item">
                <a href="merchants.html">
                    <span class="cat__menu-left__icon fa fa-tags"></span>Merchants
                </a>
            </li>
            <li class="cat__menu-left__item">
                <a href="administration.html">
                    <span class="cat__menu-left__icon fa fa-gear"></span>Administration
                </a>
            </li>

        </ul>
    </div>
</nav>
