<div class="cat__top-bar">
    <!-- left aligned items -->
    <div class="cat__top-bar__left">
        <div class="cat__top-bar__logo">
            <a href="dashboards-alpha.html">
                <img src="../../modules/dummy-assets/common/img/logo.png" />
            </a>
        </div>        
    </div>
    <!-- right aligned items -->
    <div class="cat__top-bar__right">        
        <div class="cat__top-bar__item hidden-xxl-down hidden-sm-down">
            <div class="cat__top-bar__mini-chart">
                <span class="text-white" id="dtText"></span>
            </div>
        </div>
        <div class="cat__top-bar__item hidden-sm-down">
            <a href="javascript: void(0);" >
                <span class="text-white">Welcome [Name]</span><i class="fa fa-user cat__top-bar__icon pl-1"></i>
            </a>       
        </div>        
        <div class="cat__top-bar__item hidden-sm-down">
            <a href="javascript: void(0);" >
                <i class="fa fa-caret-down text-white cat__top-bar__icon"></i>
            </a>       
        </div>        
    </div>
</div>